<footer class="main-footer">
    <strong>Hak Cipta &copy; 2024 <a href="#">dhimasarista</a></strong>
    All rights reserved.
    <div class="float-right d-none d-sm-inline-block">
        <b>Versi</b> Pengembangan
    </div>
</footer>